VAULT_ADDR=https://vault:8200
VAULT_CACERT=/etc/vault/certs/ca.pem
GF_SECURITY_ADMIN_USER=your_grafana_user
GF_SECURITY_ADMIN_PASSWORD=your_grafana_password
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=appdb
REDIS_PASSWORD=pass
BACKEND=http://backend:8000
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_API_KEY=ADMIN_API_KEY_VALUE